.doctor-detail-container {
    height: 500px;
    

    .intro-doctor {
        display: flex;
        margin: 0 100px;
        margin-top: 40px;


        .content-left {
            width: 20%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 140px;
            height: 140px;
            border-radius: 50%;
            margin: 10px 20px;
        }

        .content-right {
            width: 80%;
            display: flex;
            flex-direction: column;
            padding-left: 10px;
            font-size: 20px;
            .up {
                padding-top: 15px;
                font-size: 20px;
                font-weight: 600;
            }

            .down {
                padding-top: 10px;

                .like-share-plugin{
                    margin: 10px 0 20px 0;
                }
            }
        }
    }

    .schedule-doctor{
        margin: 0 60px;
        display: flex;
        padding: 50px 20px;
        min-height: 200px;

        .content-left{
            width: 50%;
        }

        .content-right{
            width: 50%;
        }
    }

    .detail-infor-doctor{
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        background-color: #f9f9f9;
        padding: 10px 100px;
        font-size: 18px;

        h1,
        h2,
        h3{
            font-size: 20px;
        }
        ul {
            margin-top: 20px;
            margin-bottom: 1rem;
            display: inline-block;
            // list-style: none;
        }
        li{
            margin-top: 8px;
        }
        img{
            
        }
    }

    .comment-doctor{
        padding: 10px 100px;
    }

}