.profile-doctor-container{
    .intro-doctor{
        display: flex;

        .content-left{
            // background: center center no-repeat;

            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .content-right{
            width: calc(100% - 80px);
            display: flex;
            flex-direction: column;
            padding-left: 10px;
            color: black;

            .up{
                font-weight: 600;
                margin-right: auto;
            }

            .down{
                text-align: justify;
            }
        }
    }
}